 .order-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 100px 120px;
    gap: 20px;
 }

 .order-product {
    margin: 0 auto;
 }

 .cart-container1 {
    background: rgba(255, 153, 0, 0.3);
    padding: 30px 20px;
    height: 350px;
 }



